#back-link {
  display: block;
  margin: 0 15vw;
  margin-top: 15px;
  padding: 0 15px; }

#content {
  min-height: calc(100vh - 180px - 300px);
  margin: 0 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px; }
  #content .content-title, #content .content-subtitle {
    margin-left: 15px; }
  #content #information-space {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    #content #information-space #text-space {
      width: 60%;
      padding: 15px; }
      #content #information-space #text-space img {
        width: 25%; }
      #content #information-space #text-space ul {
        margin: 5px 25px; }
      #content #information-space #text-space p, #content #information-space #text-space ul {
        line-height: 1.6em; }
      #content #information-space #text-space p {
        margin-bottom: 15px; }
    #content #information-space #media-space {
      width: 40%;
      padding: 15px;
      text-align: left; }
      #content #information-space #media-space .game-info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px; }
        #content #information-space #media-space .game-info-container .game-info {
          width: 50%;
          display: flex;
          flex-direction: column;
          margin-bottom: 15px; }
          #content #information-space #media-space .game-info-container .game-info .game-info-header {
            font-weight: bold; }
      #content #information-space #media-space .game-media-header {
        margin-bottom: 10px; }
      #content #information-space #media-space .game-media img, #content #information-space #media-space .game-media iframe {
        width: 100%;
        margin-bottom: 15px; }

#projects-list {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 15px; }

#header-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px; }
  #header-image h1, #header-image h2 {
    text-align: center;
    color: white; }
  #header-image h1 {
    font-size: 4em; }

#image-enlarge {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(55, 55, 55, 0.7);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #image-enlarge #image-enlarge-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #image-enlarge #image-enlarge-container #image-enlarge-close {
      position: relative;
      font-weight: bolder;
      font-size: 2em; }
    #image-enlarge #image-enlarge-container img {
      margin-left: 10vw;
      width: 80vw; }

@media (max-width: 1600px) {
  #content {
    margin: 0 7.5vw; }

  #back-link {
    margin: 0 7.5vw;
    margin-top: 15px; } }
@media (max-width: 1000px) {
  #content {
    margin: 0 0; }
    #content #information-space {
      flex-direction: column;
      width: 100%; }
      #content #information-space #text-space {
        width: 100%; }
      #content #information-space #media-space {
        width: 100%; }

  #back-link {
    margin: 0 0vw;
    margin-top: 15px;
    margin-bottom: 15px; } }

/*# sourceMappingURL=game.css.map */
