@import 'variables.scss';

#content {
    min-height: calc(100vh - 180px - 300px);

    margin: 0 15vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
        
    #text-space {
        width: 100%;

        img {
            width: 25%;
        }

        ul {
            margin: 5px 25px;
        }
        
        p, ul {
        line-height: 1.6em;
        }

        p {
            margin-bottom: 15px;
        }
    }
    .game-info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5px;

        .game-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-bottom: 4px;

            .game-info-header {
                font-family: $title-font;
                font-weight: 600;
            }

            .game-info-text{ 
                font-family: $title-font;
                font-weight: 400;
            }
        }
    }

    #media-space {
        width: 100%;
        text-align: left;

        .game-media-header {
            margin-bottom: 10px;
        }

        .game-media {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            img, iframe {
                width: 33%;
                height: auto;
                padding-left: 5px;
                margin-bottom: 15px;
            }
        }
    }
}

#projects-list {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 15px;
}

#header-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;

    h1, h2 {
        font-family: $title-font;
        text-align: center;
        color: white;
        font-weight: 400;
    }

    span {
        text-align: center;
        color: white;

        a {
            color: white;
            text-decoration: none;
            font-weight: 500;
            font-family: $title-font;
        }
    }

    h1 {
        font-size: 4em;
    }
}

@media (max-width: 1600px) {
    #content {
        margin: 0 5vw;
        margin-top: 15px;
    

        #media-space {
            width: 100%;
            text-align: left;
    
            .game-media-header {
                margin-bottom: 10px;
            }
    
            .game-media {
                flex-direction: column;
                flex-wrap: nowrap;
                img, iframe {
                    width: 90vw;
                    height: auto;
                }

                iframe {
                    height: 540px;
                }
            }
        }
    }

    #header-image {
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.2em;
        }
        
        span {
            font-size: 1em;
        }
    }
}