@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import 'variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $regular-font;
}

h1, h2, h3, h4, h5, h6, footer, a{
    font-family: $header-font;
    color: $text-color;
}

p {
    font-family: $regular-font;
    color: $text-color;
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    background: $site-background;
}

#content {
    min-height: calc(100vh - 180px);
    position: relative;
    background-color: $site-background;
    z-index: 200;
}

header {
    height: 100px;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: none;
    z-index: 500;
    font-family: $title-font;

    #mobile-navigation-toggle {
        display: none;
    }

    .header-left {
        display: flex;
        flex-direction: row;
        margin-left: 50px;

        .header-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $header-font-color;
            font-weight: 800;
            font-size: 2.4em;
            margin-top: 5px;
            margin-left: 15px;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.93);

            .header-subtext {
                font-size: 0.5em;
                text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.93);
            }
        }
    }

    .header-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 50px;

        a {
            text-align: center;
            padding: 0 25px;
            margin-top: auto;
            margin-bottom: auto;
            text-decoration: none;
            color: $header-link-color;
            cursor: pointer;
            font-weight: 900;
            font-size: 1.2em;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
            transition: color 0.1s;
        }

        a:hover {
            font-weight: 600;
            color: $header-link-color-hover;
        }
    }
}

footer {
    background-color: $header-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    text-align: center;
    height: 80px;
    color: rgb(180,180,180);
}

#header-image {
    margin: 0 0;
    min-height: 800px;
    background-size: cover;
    background-position: center;
}

@media(max-width: 1000px) {
    header {
        .header-left {
            margin-left: 25px;

            .header-text {
                font-size: 1.5em;
                margin-left: 5px;
                .header-subtext {
                    font-size: 0.5em;
                }
            }
        }

        
        #mobile-navigation-toggle {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            margin-right: 25px;
            cursor: pointer;

            .line {
                border: 2px solid $text-color;
                border-radius: 2px;
                width: 50px;
                height: 0px;
                margin-bottom: 16px;
            }
        }

        .header-right {
            display: none;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            top: 100px;
            left: 0;
            right: 0;
            bottom: 0;
            margin-right: 0;
            background-color: $site-background;

            a {
                margin:0;
                padding: 15px;
                color: white;
            }

            a:hover {
                background-color: $header-link-color-hover;
            }
        }
    }
}