@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import 'variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $regular-font;
}

h1, h2, h3, h4, h5, h6, footer, a{
    font-family: $title-font;
    color: $text-color;
    font-weight: 500;
}

p {
    font-family: $regular-font;
    color: $text-color;
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    background: $site-background;
}

#content {
    position: relative;
    background-color: $site-background;
    z-index: 200;
}

header {
    height: 100px;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: none;
    z-index: 500;
    font-family: $title-font;
    background-color: $header-background;

    #mobile-navigation-toggle {
        display: none;
    }

    .header-left {
        display: flex;
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;

        .header-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $header-font-color;
            font-weight: 400;
            font-size: 2em;
            margin-left: 15px;
            font-family: $title-font;

            a {
                text-decoration: none;
            }
        }
    }

    .header-links {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-right: 50px;
        font-family: $title-font;
        width: 75%;
        flex-grow: 1;

        a {
            text-align: center;
            padding: 0 25px;
            margin-top: auto;
            margin-bottom: auto;
            text-decoration: none;
            color: $header-link-color;
            font-family: $title-font;
            cursor: pointer;
            font-weight: 300;
            font-size: 1.2em;
            transition: color 0.1s, text-decoration 0.2s;
        }

        a:hover {
            font-weight: 400;
            color: $header-link-color-hover;
        }
    }

    .header-right {
        
        width: 25%;
    }
}

footer {
    background-color: $header-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    text-align: center;
    height: 80px;
    color: rgb(180,180,180);
}

#header-image {
    margin: 0 0;
    min-height: 800px;
    background-size: cover;
    background-position: center;
}

@media(max-width: 1900px) {
    header {
        .header-left {

            .header-text {
                font-size: 1.4em;
            }
        }

        .header-links {
            font-size: .9em;
        }
    }
}

@media(max-width: 1024px) {
    header {
        justify-content: space-between;
        position: fixed;
        top:0;
        .header-left {
            position: fixed;
            top: 0;
            height: 100px;
            .header-text {
                font-size: 1.4em;
            }
            
        }

        #mobile-navigation-toggle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: fixed;
            top: 25px;
            right: 25px;
            z-index: 100;
            width: 50px;
            height: 50px;
            cursor: pointer;
            

            .line {
                height: 5px;
                background-color: black;
            }
        }

        .header-links {
            position: fixed;
            display: none;
            top: 100px;
            height: calc(100vh - 100px);
            background-color: $header-background;
            width: 100%;
            flex-direction: column;
        }
    }

    body {
        margin-top: 100px;
    }
}