$title-font: 'Montserrat';
$header-font: 'Raleway';
$regular-font: 'Raleway';

$text-color: rgb(254, 255, 241);
$header-font-color: rgb(254, 255, 241);
$header-link-color: rgb(254, 255, 241);
$header-link-color-hover: rgb(200,200,200);

$site-background: rgb(32,32,32);
$header-background: rgb(21,21,21);
