$title-font: 'Titillium Web';
$header-font: 'Raleway';
$regular-font: 'Raleway';

$text-color: rgb(51, 51, 51);
$header-font-color: rgb(51, 51, 51);
$header-link-color: rgb(51, 51, 51);
$header-link-color-hover: rgb(30,30,30);

$site-background: rgb(255, 255, 255);
$header-background: rgb(248,248,248);
