$title-font: 'Montserrat';
$header-font: 'Raleway';
$regular-font: 'Raleway';

$text-color: black;
$header-font-color: black;
$header-link-color: black;
$header-link-color-hover: rgb(55,55,55);

$site-background: rgb(240,240,240);
$header-background: rgb(230,230,230);
