<header>
    <span id="mobile-navigation-toggle">

    </span>
    <span class="header-centre">
        <span class="header-image"></span>
        <span class="header-text">{{site.title}}<span class="header-subtext">Technical Designer</span></span>
    </span>
    <span class="header-links">
        <a href="/index.html">Home</a>
        <a href="/about.html">About</a>
        <a href="https://linktr.ee/witchica">LinkTree</a>
    </span>
    <span id="mobile-navigation-toggle" onclick="toggleLinks()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </span>
    <script>
        let linksShown = false;
        function toggleLinks() {
            let links = document.getElementsByClassName('header-links')[0];

            linksShown = !linksShown;
            links.style = linksShown ? "display: flex;" : "display: none;";
        }
    </script>
</header>