<meta property="og:title" content="{{site.title}} - {{page.title}}" />
<meta property="og:description" content="{{site.description}}"" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:image" content="{{site.url}}/assets/cover.jpg" />
<meta name="twitter:title" content="{{site.title}} - {{page.title}} ">
<meta name="twitter:description" content="{{site.description}}">
<meta name="twitter:image" content=" {{site.url}}/assets/cover.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@{{site.twitter_username}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">