<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{site.title}} - {{page.title}}</title>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/about.css"/>
        <link rel="icon" href="/assets/pfp.png"/>
        {% include components/meta_tags.html %}
    </head>
    {% include header.html %}
    <body>
        {% if page.header-image %}
        <div id="header-image" style="background-image: url({{page.header-image}}); {{page.custom-header-css}}">
        {% else %}
        <div id="header-image" style="background-image: url({{page.cover-image}}); {{page.custom-header-css}}">
        {% endif %}
        </div>
        <a href="/index.html" id="back-link">Return to Homepage</a>
        <div id="content">
            <h1>{{page.title}}</h1>
            <div id="about-cards">
                {{content}}
            </div>
        </div>
    </body>
    <!-- <div id="image-enlarge">
        <div id="image-enlarge-container">
            <span id="image-enlarge-close">X</span>
            <img src="/assets/games/catjam/0.jpg"/>
        </div>
    </div> -->
    {% include footer.html %}
</html>