<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{site.title}} - {{page.title}}</title>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/landing.css"/>
        <link rel="icon" href="/assets/pfp.png"/>
        {% include components/meta_tags.html %}
    </head>
    {% include header.html %}
    <body>
        <div id="header-image" style="background-image: url({{page.header-image}})"></div>
        <div id="content">
            <div id="introduction">
                <h1>{{ page.introduction-header }}</h1>
                <p> {{ page.introduction }} </p>
                <div id="contact">
                    <p>If you want to contact me, the best way is probably through Twitter or Email!</p>
                    <span class="socials">
                        <a href="https://twitter.com/{{site.twitter_username}}" class="social">
                            <img src="/assets/icons/twitter.png"/>
                            <span class="social-name">Twitter</span>
                        </a>
                        <a href="mailto:{{site.email}}" class="social">
                            <img src="/assets/icons/email.png"/>
                            <span class="social-name">Email Me!</span>
                        </a>
                    </span>
                </div>
            </div>
            
            {{ content }}
        </div>
    </body>
    {% include footer.html %}
</html>