<!DOCTYPE html>
<html lang="en">
    <head>
        <title>witchica - {{page.title}}</title>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/landing.css"/>
        <link rel="icon" href="/assets/pfp.png"/>
    </head>
    {% include header.html %}
    <body>
        <div id="header-image" style="background-image: url({{page.header-image}})"></div>
        <div id="content">
            <div id="introduction">
                <h1>{{ page.introduction-header }}</h1>
                <p> {{ page.introduction }} </p>
            </div>
            {{ content }}
        </div>
    </body>
    {% include footer.html %}
</html>